body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
}

.content {
    margin: 0 25px;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
    background-color: #fff;
    /* box-shadow: 0 -5px #fff; */
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    background-color: #fff!important;
}

.disclaimer {
    color: #cfa144;
}

input {
    font-size: 18px;
    padding: 13px 10px;
}

.connected-wallet {
    background-color: #cfa144!important;
}

.button-group {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center!important;
}
